{% extends "base/base.html" %}
{% load static %}

{% block template %}

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
    {% include "base/navbar.html" %}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{%static 'website/images/hero_1.jpg'%}');" id="home-section">
    </section>

    <!-- COMPANY PROFILE -->
    <section class="site-section" id="company-profile-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Company Profile</h2>
                </div>
            </div>

        <!-- Company Information -->
        <div class="row">
            <div class="col-md-6">
                {% if employer %}
                    <div class="card">
                        <div class="row justify-content-center mt-2">
                        {% if employer.company_logo %}
                        <img src="{{ employer.company_logo.url }}" class="card-img-top img-fluid logo-8"alt="Company Logo">
                        {% else %}
                        <img src="{%static 'website/images/default_logo.png'%}" class="card-img-top img-fluid logo-8"alt="Company Logo">
                        {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center mt-2">
                                <h5 class="card-title">{{ employer.company_name }}</h5>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <p class="card-text mb-2">{{ employer.company_address }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Email:</strong> {{ employer.company_email }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Contact Number:</strong> {{ employer.contact_number }}
                                </li>
                                <li class="list-group-item">
                                    <!-- Company Desc -->
                                    <div class="card-body text-center">
                                        <!-- Collapse Button -->
                                        <button class="btn btn-info mb-2" type="button" data-toggle="collapse" data-target="#companyDescCollapse" aria-expanded="false" aria-controls="companyDescCollapse">
                                            Show Company Description
                                        </button>

                                        <!-- Collapsible Content -->
                                        <div class="collapse" id="companyDescCollapse">
                                            <div class="row justify-content-center mt-2">
                                                <p class="card-text mb-2 p-2">{{ employer.company_desc }}</p>
                                            </div>
                                            <!-- Additional fields from the Employer model can be displayed here -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {% if user == request.user %}
                            <!-- Show the edit icon only for the owner of the profile -->
                            <div class="mt-2 align-items-center text-center">
                                <a href="#" data-toggle="modal" data-target="#editEmployerProfileModal" class="btn btn-primary text-center">
                                <i class="mr-2 icon-pencil"></i> Edit
                                </a>
                            </div>
                            <div class="mt-2 align-items-center text-center">
                                <a href="{% url 'post_job' %}" class="btn btn-primary text-center">
                                 Post a Job
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <p>No company profile found.</p>
                {% endif %}
            </div>

            <div class="col-md-6">
                {% if employer %}
                    <div class="card">
                    <!--JOB POSTED HERE-->
                    <!-- JOB POSTS -->
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-7 text-center">
                                    <h2 class="section-title mb-2 mt-2">Your Job Posts</h2>
                                </div>
                            </div>

                            <div class="row" style="max-height: 600px; overflow-y: auto;">
                                {% if employer %}
                                    {% if employer.job_postings.all %}
                                        {% for job in employer.job_postings.all %}
                                            <div class="col-md-12">
                                                <div class="card mt-2">
                                                    <div class="card-body ">
                                                        <h4 class="card-title text-dark fw-bold">{{ job.job_title }}</h4>
                                                        <p class="card-subtitle mb-2 text-info">{{ job.get_job_type_display }}</p>
                                                        <p class="card-text">{{ job.job_description|slice:":100" }}{% if job.job_description|length > 100 %}...{% endif %}</p>
                                                        <p class="card-text"><strong>Location:</strong> {{ job.job_location }}</p>
                                                        <p class="card-text"><strong class="text-success">Salary:</strong> {{ job.salary }}</p>
                                                        <!-- Add more fields as needed -->
                                                        <p>{{ job.num_applicants }} applicants</p>
                                                        <div class="mt-2 align-items-center text-center">
                                                            <a href="{% url 'view_applications' job.id %}" class="btn btn-primary text-center">
                                                             View Applications
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-md-12">
                                            <p>No job posts found.</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    <!--END OF JOB POSTED-->
                    </div>
                {% else %}
                    <p>No company profile found.</p>
                {% endif %}
            </div>
        </div>
        </div>
    </section>
    {% include "base/company_profile_form.html" %}

{% include "base/footer.html" %}
{% endblock %}