{% extends "base/base.html" %}
{% load static %}

{% block template %}
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    {% include "base/navbar.html" %}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{%static 'website/images/hero_1.jpg'%}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Find Jobs</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Find Jobs</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

      <!-- Search Bar -->
      <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <form method="get" action="{% url 'search_jobs' %}" class="search-form">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control" placeholder="Search by position or company name">
                        <button type="submit" class="btn btn-primary mt-2">Search</button>
                        <a href="{% url 'job_find' %}" class="btn btn-secondary mt-2">Reset</a>
                    </div>
                </form>
            </div>
        </div>
      </div>

    <!--Verified Job Postings-->
    <section class="site-section" id="next">
        <div class="container">
  
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2">{{ verified_job_postings.count }} Jobs</h2>
            </div>
          </div>
          
          <ul class="job-listings mb-5">
            {% for job_posting in verified_job_postings %}
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
              <a href="{% url 'job_info' job_posting.id %}"></a>
              <div class="job-listing-logo">
                <img src="{{ job_posting.employer.company_logo.url }}" alt="Image" class="img-fluid">
              </div>
  
              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                  <h2>{{ job_posting.job_title }}</h2>
                  <strong>{{ job_posting.employer.company_name }}</strong>
                </div>
                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                  <span class="icon-room"></span> {{ job_posting.job_location }}
                </div>
                <div class="job-listing-meta">
                    {% if job_posting.job_type == 'intern' %}
                        <span class="badge badge-danger">{{ job_posting.get_job_type_display }}</span>
                    {% elif job_posting.job_type == 'full_time' %}
                        <span class="badge badge-success">{{ job_posting.get_job_type_display }}</span>
                    {% elif job_posting.job_type == 'part_time' %}
                        <span class="badge badge-primary">{{ job_posting.get_job_type_display }}</span>
                    {% elif job_posting.job_type == 'freelancer' %}
                        <span class="badge badge-secondary">{{ job_posting.get_job_type_display }}</span>
                    {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
  
              <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <span>Showing {{ verified_job_postings.start_index }}-{% if verified_job_postings.end_index > verified_job_postings.paginator.count %}{{ verified_job_postings.paginator.count }}{% else %}{{ verified_job_postings.end_index }}{% endif %} Of {{ verified_job_postings.paginator.count }} Jobs</span>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        {% if verified_job_postings.has_previous %}
                            <a href="?page={{ verified_job_postings.previous_page_number }}" class="prev">Prev</a>
                        {% endif %}
                        {% for i in verified_job_postings.paginator.page_range %}
                            <a href="?page={{ i }}" {% if i == verified_job_postings.number %}class="active"{% endif %}>{{ i }}</a>
                        {% endfor %}
                        {% if verified_job_postings.has_next %}
                            <a href="?page={{ verified_job_postings.next_page_number }}" class="next">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      </section>

{% include "base/footer.html" %}
{% endblock %}