{% extends "base/base.html" %}
{% load static %}

{% block template %}
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    {% include "base/navbar.html" %}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{%static 'website/images/hero_1.jpg'%}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Login</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Log In</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2 class="mb-4">Log In To JobBoard</h2>
            <form action="{% url 'login' %}" method="post" class="p-4 border rounded">
              {% csrf_token %}
              
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="email">Email</label>
                  <input type="text" id="email" class="form-control" placeholder="Email address" name="username">
                </div>
              </div>
              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="password">Password</label>
                  <input type="password" id="password" class="form-control" placeholder="Password" name="password">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 text-center">
                  <input type="submit" value="Log In" class="btn px-4 btn-primary text-white">
                </div>
              </div>

              {# Display form errors at the top of the form #}
              {% if form.errors %}
                  <div class="alert alert-danger">
                      <strong>Error:</strong>
                      {% for field, error_list in form.errors.items %}
                          {% for error in error_list %}
                              {{ error }}
                          {% endfor %}
                      {% endfor %}
                  </div>
              {% endif %}
              
            </form>
            <p class="text-center mt-2">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
          </div>
        </div>
      </div>
    </section>
    {% include "base/footer.html" %}
{% endblock %}